stat_case_study/Untitled.ipynb
stat_case_study/.ipynb_checkpoints/stat_case_study-checkpoint.ipynb
stat_case_study/.ipynb_checkpoints/Untitled-checkpoint.ipynb
python_basics/.ipynb_checkpoints/python_basics-checkpoint.ipynb
datatypes_cycles_1/.ipynb_checkpoints/datatypes_cycles_1-checkpoint.ipynb
datatypes_cycles_2/.ipynb_checkpoints/datatypes_cycles_2-checkpoint.ipynb
visualization/.ipynb_checkpoints/visualization-checkpoint.ipynb
.DS_Store
classes/.ipynb_checkpoints/
classes/libs/.ipynb_checkpoints/
errors_and_time/.ipynb_checkpoints/
files_and_modules/.ipynb_checkpoints/
pandas/files_for_homework/power.csv
pandas/files_for_homework/transactions.csv
pandas/ml-25m/genome-scores.csv
pandas/ml-25m/genome-tags.csv
pandas/ml-25m/links.csv
pandas/ml-25m/movies.csv
pandas/ml-25m/ratings.csv
pandas/ml-25m/README.txt
pandas/ml-25m/tags.csv
pandas/Clickhouse.pptx